/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body { margin: 0px; padding: 0px; font-size: 72.01%; background:#fff url("http://www.ins-union.ru/css/images/bgnd.gif") 0px 0px repeat-x; }
body, html { width: 100%; min-height: 100%; height:100%; }
jkommji

table { border: 0; border-collapse: collapse; border-spacing: 0; font-size:1em; }
td { padding: 0px;vertical-align:top;}
a, span, p, body, div, td, textarea, input, h1, h2, h3, h4, h5, h6 { font-family: arial, tahoma, verdana, helvetica, sans-serif; color: #333333;  }
.spacer { height:1px; width:1px; display:block; }
img { border: none; display:block; }
table { border: 0; border-collapse: collapse; border-spacing: 0; }
td { padding: 0px;vertical-align:top;}
.full { height: 100%; width:100%;  }
.full_w { width:100%; }
form { padding: 0px; margin: 0px; }
.clear {clear:both;}
.nofloat { float:none; width:auto; }
.left { float:left; width:auto; }
.right { float:right; width:auto; }
.center { text-align: center; }
.center img { margin: auto; }
a { color:#1268b3; }
a:hover { text-decoration:none}

.root_block { text-align:center; width: 100%; padding-bottom: 30px;}
.root_block_conteiner { margin:auto; width: 1000px; text-align:left; }
.head_tb { width: 100%; min-width: 1000px;}
.head_logo_td { padding-top: 32px; width:400px;}
.head_logo_td img { float:left; margin-right: 7px; margin-left: 34px; }
.head_logo_td span a {color:#105a9d; font-family: georgia; font-style:italic; text-decoration:none; font-size: 23px; display:block; padding-top: 9px;}

.head_login_form_td { text-align: right; padding-top: 38px; }
.head_login_form_td form { margin:auto; margin-right: 0px; }
.head_login_form_td table { margin: auto; margin-right: 0px;}
.form_field { background: url("http://www.ins-union.ru/css/images/field_bgnd.gif") 0px 0px no-repeat; margin-right: 9px; float:left;}
.form_field div { background: url("http://www.ins-union.ru/css/images/field_bgnd_1.gif") 100% 0px no-repeat; height: 27px; padding-top: 4px; padding-right:8px; padding-left:8px;}
.form_field div input { color:#fff; font-family: georgia; font-style:italic; font-size: 13px; border:none; background: transparent; width: 99%;}

.head_login_form_td .form_field { width: 112px; }

.head_lang_td {text-align:center;}
.head_lang_td div { margin:auto; padding-top: 9px; padding-bottom: 5px;}
.head_icons_block img { display:inline; margin-right: 10px; }

.head_lang_block { text-align:center;}
.head_lang_block div { margin:auto; text-align:center;  position:relative; margin-top: -9px;}
.head_lang_block a { margin:auto;  font-size: 13px; font-family: georgia; font-style:italic; text-decoration:none; padding: 4px 7px;}
.head_lang_block a.active_lang { background: url("http://www.ins-union.ru/css/images/lang_active.gif") 0px 0px no-repeat; color:#fff; }


.form_button { background: url("http://www.ins-union.ru/css/images/button_left.gif") 0px 0px no-repeat; float:left; }
.form_button div { background: url("http://www.ins-union.ru/css/images/button_right.gif") 100% 0px no-repeat; height: 23px; }
.form_button div button { border:none; background:transparent; margin:0px; font-size: 13px; font-family: georgia; font-style:italic; color:#fff;padding-top:3px; padding-left: 8px; padding-right: 8px; padding-bottom: 3px; cursor: hand; cursor:pointer;}
.form_button div button img { display:inline; margin:auto; vertical-align:middle; margin-right: 2px; margin-left: 6px; margin-top: -2px;}
.login_form_button { padding-top: 6px; padding-right: 9px; }

.main_menu_links { padding: 3px 0px 3px 20px; width: 238px;}

.main_menu_links div div a { display:block; padding: 10px 30px 10px 10px; color:#333333; font-size: 16px; font-family: georgia; font-style:italic; text-decoration:none; background: url("http://www.ins-union.ru/css/images/main_menu_arr_down.gif") 90% 18px no-repeat; }

.main_menu_links div.main_submenu_links a { display:block; font-size: 13px; padding-top: 5px; padding-left: 13px; padding-bottom:5px; color:#333333; }
.main_menu_links div.main_submenu_links { padding-left: 10px; padding-top: 4px; padding-bottom: 6px;}
.main_menu_links div.main_submenu_links a:hover { background: url("http://www.ins-union.ru/css/images/sub_menu_link.gif") 0px 7px no-repeat; color:#105a9d; text-decoration:none;}
.main_menu_links div.main_submenu_links a.current_btn { background: url("http://www.ins-union.ru/css/images/sub_menu_link.gif") 0px 7px no-repeat; color:#105a9d; text-decoration:none; }
.main_menu_links div.main_submenu_links a.current_btn:hover { background: url("http://www.ins-union.ru/css/images/sub_menu_link.gif") 0px 7px no-repeat; color:#105a9d; text-decoration:none; }


.main_menu_links div.current_btn { background:url("http://www.ins-union.ru/css/images/main_menu_active_1.gif") 0px 0px no-repeat; }
.main_menu_links div.current_btn div { background:url("http://www.ins-union.ru/css/images/main_menu_active_2.gif") 0px 100% no-repeat; }
.main_menu_links div.current_btn div a { background:none; color:#fff;}

.left_search_form { padding-left: 19px; padding-top: 60px; text-align:right;}
.left_search_form .form_field { width: 225px; }
.left_search_form .login_form_button { margin-right: 46px;}


.content_tb { width: 100%; }
.content_left_td { width:300px; padding-top: 50px; }

.main_menu { background: url("http://www.ins-union.ru/css/images/left_menu_bgnd.gif") 0px 100% no-repeat; }
.main_menu_2 { background: url("http://www.ins-union.ru/css/images/left_menu_bgnd_2.gif") 0px 0px no-repeat; }

.content_right_td { padding-top: 46px; }

.activity_icons td img { margin-right: 5px;}

.invisible { display:none;}

h1 { color:#000; font-size: 32px; font-weight: normal; font-style:italic; padding: 0px; margin: 0px; padding: 8px 0px 20px 90px; font-family:georgia;}
td.inside_cell {padding: 0 0 0 10px; }
td.inside_cell h1 { color:#000; font-size: 32px; font-weight: normal; font-style:italic; padding: 0px; margin: 0px; padding: 8px 0px 20px 0; font-family:georgia;}
td.inside_cell p { /*font-family: arial; font-size:1.1em;*/ line-height: 1.5; }

td.inside_cell table td { padding: 8px 12px; background-color:#e5e5e5; border: 2px solid #fff; color:#333;}
td.inside_cell table tr.dark_tr td { background-color:#6cadda; color:#fff; }
td.inside_cell table tr.dark_tr td p {color:#fff; }
td.inside_cell table { width: 80%;}


h2 { color:#000; font-size: 26px; font-weight: normal; font-style:italic; padding: 0px; margin: 0px; padding: 8px 0px 10px 0px; font-family:georgia;}
h3 { color:#105a9d; font-size: 18px; font-weight: normal; padding: 0px; margin: 0px; padding: 8px 0px 10px 0px; font-family:georgia;}
h3 a { color:#105a9d;}
h4 { color:#333333; font-size: 18px; font-weight: normal; padding: 0px; margin: 0px; padding: 8px 0px 10px 25px; font-family:georgia;}
h5 { color:#105a9d; font-size: 15px; font-weight: normal; padding: 0px; margin: 0px; padding: 8px 0px 10px 25px; font-family:georgia;}
h4 { color:#333333; font-size: 13px; font-weight: normal; padding: 0px; margin: 0px; padding: 8px 0px 10px 25px; font-family:georgia;}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration:none; font-family:georgia }



.site_map_links { padding-left: 35px; }
.site_map_links a { display:block; color:#333; font-family:georgia; font-size:13px; padding-top:7px; }
.site_map_links div a { display:block; color:#333; font-family:arial; font-size:12px;  }
.site_map_links div { padding-left: 19px; }

.site_map_links h3 { color:#105a9d; font-size: 18px; font-weight: normal; padding: 0px; margin: 0px; padding: 8px 0px 10px 0px; font-family:georgia; margin-left:-15px;}
.site_map_links h3 a { color:#105a9d; font-size: 18px; }




.button_link { float:auto; background: url("http://www.ins-union.ru/css/images/field_bgnd.gif") 0px 0px no-repeat; }
.button_link a { display:block; background: url("http://www.ins-union.ru/css/images/field_bgnd_1.gif") 100% 0px no-repeat; height: 27px; padding-top: 4px; padding-right:8px; padding-left:8px;  color:#fff; font-family: georgia; font-style:italic; font-size: 13px; text-decoration:none; }

.news_tb { margin-top: 16px; width: 100%; }
.news_subscribe_td { width: 224px; text-align:right; }
.news_subscribe_td h2 { margin:auto; margin-right: 16px; }
.news_subscribe_td div { margin:auto; margin-right: 16px; }


.tabs_list div { float:left;  height: 31px; color:#000; font-family:georgia; font-style:italic; font-size: 14px;  }
.tabs_list div div { text-decoration:underline; padding: 6px 18px 2px 18px; cursor: hand; cursor: pointer; }
.tabs_list div div:hover { text-decoration:none; }
.tabs_list div.active_tab_item { background: url("http://www.ins-union.ru/css/images/btn_tab_bgnd_1.gif") 0px 0px no-repeat; }
.tabs_list div.active_tab_item div { text-decoration:none; background: url("http://www.ins-union.ru/css/images/btn_tab_bgnd_2.gif") 100% 0px no-repeat; }


.tab_content_1 { clear:both; background: #eef3f5 url("http://www.ins-union.ru/css/images/tab_body_bgnd_top.gif") 0px 0px no-repeat; width: 503px;}
.tab_content_2 { background: url("http://www.ins-union.ru/css/images/tab_body_bgnd_bottom.gif") 0px 100% no-repeat; width: 503px; }
.tab_content_3 { padding: 30px 30px 24px 30px; }


.news_text_tb td {width:50%; padding-top: 14px;}
.news_text_tb td strong a { font-family:georgia; font-style:italic; color:#333333; text-decoration:none; font-size: 13px; display:block; display:block; padding-bottom: 14px; }
.news_text_tb td em { font-style:normal; }
.news_text_tb td em a { display:block; color:#1268b3; padding-left: 20px; font-size: 16px; text-decoration:none; }
.news_text_tb td p { padding-left: 20px; font-size:12px;}


.bottom_tb { width: 100%; margin-top: 120px;  }
.bottom_tb td { font-family:georgia; }
.bottom_td_phone { width:335px; padding-left: 22px;}
.bottom_td_phone span { font-family:georgia; background: url("http://www.ins-union.ru/css/images/bottom_phone.gif") 0px 0px no-repeat; font-style:italic; height: 58px; width: 58px; display:block; float:left; padding-top: 18px; font-size: 16px; color:#fff; text-align:center; }
.bottom_td_phone strong { color:#105a9d; font-size: 30px;  font-style:italic; font-weight: normal; display:block; float:left;  padding-left: 5px; padding-top: 10px; }
.bottom_td_phone div { padding-top: 4px; font-family:georgia;}
.bottom_td_phone div a { color:#666666; font-size: 11px; font-family:georgia;}

.bottom_td_copyright { text-align:center; padding-right: 50px;}
.bottom_td_copyright div { padding-top: 27px; font-size:12px; font-family:georgia; }
.bottom_td_redslash { width: 186px; }
.bottom_td_redslash a { font-size: 11px; color:#666666; display:block; font-family:georgia;line-height: 1.5;}
.bottom_td_redslash img { position:relative; margin-left: -15px;margin-bottom: 6px;}


.vss_members_tb { margin-top: 30px; width: 100%;}
.vss_members_map { width: 205px; text-align:right;}
.vss_members_map img { margin:auto; margin-right: 0px;}


*:focus
{
    outline: none;
}


.gallery_slider { margin-top: 59px;}
.gallery_slider a { color:#404040; text-decoration:none; font-size: 10px;}






/* Easy Slider */
	#slider { margin-left: 70px; }
	#slider ul, #slider li {
		margin:0;
		padding:0;
		list-style:none;
		}

	#slider li img { display:block; float:left; margin-right: 20px; }
	#slider li, #slider2 li{
		width:380px;
		height:80px;
		overflow:hidden;
		}

	#prevBtn{ display:block; float:left; position:relative; margin-top: -90px; height: 80px; margin-left: 3px; background-color:#fff; }
	#nextBtn{ display:block; float:left; position:relative; margin-top: -90px; margin-left: 409px;}


	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background:url(../images/btn_prev.gif) no-repeat 0 0;
		}
	#nextBtn a, #slider1next a{
		background:url(../images/btn_next.gif) no-repeat 0 0;
		}


/* // Easy Slider */








.news_archive_links { padding-left: 28px; font-size: 13px; color:#7a7a7a; padding-bottom: 10px; line-height: 1.8;}
.news_archive_links a { color:#7a7a7a; font-family:georgia; }
.news_archive_links a:hover { color:#105a9d; text-decoration:none;}

.news_preview strong { display:block; font-family:georgia; color:#333; padding-top: 9px;}
.news_preview strong a { font-family:georgia; color:#333; text-decoration:none; font-style:italic; font-size: 14px; }
.news_preview h3 { padding-left: 33px; padding-bottom: 0px; margin-bottom: 5px; font-family:georgia; }
.news_preview h3 a { font-family:georgia; }
.news_preview p { padding-top:0px; margin-top: 0px; font-family:arial; font-size: 13px; padding-left: 33px; padding-bottom: 9px;}

.news_years_list { padding-top: 9px; }
.news_years_list a { color:#666666; font-size: 13px; margin-right: 4px;  font-family:georgia;}
.news_years_list span { color:#105a9d; font-size: 18px; margin-right: 4px; font-family:georgia;}

.search_result_item {padding-bottom: 19px; padding-left: 36px; }
.search_result_item em { position:absolute; margin-left: -30px; font-style:italic; font-weight: bold; font-family:georgia; font-size: 14px; }
.search_result_item strong a {color:#105a9d;font-size: 18px; font-family:georgia; font-weight:normal; text-decoration:none; }
.search_result_item strong a:hover { text-decoration:underline;}
.search_result_item strong { display:block; padding-bottom: 6px;}
.search_result_item div { padding-bottom: 3px;}
.search_result_item div a { color:#333; text-decoration:none;}

#sitemap  { padding-left: 35px; }
#sitemap ul {margin:0;padding:0;}
#sitemap ul li {list-style:none;margin:0;padding:0;color:#105a9d; font-size: 18px; font-weight: normal; padding: 0px; margin: 0px; padding: 8px 0px 10px 0px; font-family:georgia; margin-left:-15px;}
#sitemap ul li a {text-decoration:none;color:#105a9d;}
#sitemap ul li ul {margin:0;padding:0;padding-left: 19px;}
#sitemap ul li ul li {margin:0;padding:0;display:block; color:#333; font-family:georgia; font-size:13px; padding-top:7px;}
#sitemap ul li ul li a {color:#333;text-decoration:underline;}
#sitemap ul li ul li a:hover {text-decoration:none;}
#sitemap ul li ul li ul li {font-family:arial; font-size:12px;}


.site_map_links { padding-left: 35px; }
.site_map_links a { display:block; color:#333; font-family:georgia; font-size:13px; padding-top:7px; }
.site_map_links div a { display:block; color:#333; font-family:arial; font-size:12px;  }
.site_map_links div { padding-left: 19px; }

.site_map_links h3 { color:#105a9d; font-size: 18px; font-weight: normal; padding: 0px; margin: 0px; padding: 8px 0px 10px 0px; font-family:georgia; margin-left:-15px;}
.site_map_links h3 a { color:#105a9d; font-size: 18px; }

td.inside_cell img { display:inline;}



